<button {{action setSuccess}} class='alert-success'>Flash Success</button>
<button {{action setAlert}} class='alert-warning'>Flash warning</button>

<div class='container-fluid'>
  <div class='row'>
    <div class="col-md-4">
      <table class="table table-striped">
        {{#each controller}}
          <tr><td>{{#linkTo "post" this}}{{title}}{{/linkTo}}</td></tr>
        {{else}}
          <tr><td>There are no posts.</td></tr>
        {{/each}}
      </table>
    </div>
    
    <div class="col-md-8 content-area">
      {{outlet}}
    </div>
      
  </div>
</div>
